.algorithm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 145px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 60px;
  }
}

.algorithm__wrapper {
  max-width: 57%;
}

.algorithm__heading {
  line-height: 1;

  @media (max-width: $tablet-width) {
    font-size: 32px;
  }
}

.algorithm__about {
  padding-right: 60px;

  @media (max-width: $tablet-width) {
    padding-right: 0;
    margin-bottom: 30px;
  }
}

.algorithm__img {
  border-radius: 20px;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: auto;
  }
}
