.form {
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;

  padding: 37px 41px;
  font-family: "Proxima Nova", "Arial", sans-serif;
  border-radius: 20px;
  background: $main2-color;

  a {
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    color: $basic-white;
  }

  &--bottom {
    .btn {
      max-width: 242px;
      margin: 0 auto;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.form__checkbox-label {
  display: flex;
  gap: 15px;
  align-items: start;
  text-align: left;
}

input {
  box-sizing: border-box;
  max-height: 45px;
  padding: 10px;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: $input-color;
  border: none;
  background: $basic-white;
  border-radius: 10px;

  &.error {
    border: 1px solid #E70000;
  }
}

.form_message.error.inactive {
  display: none;
}

.form_message.error.active {
  display: block;
  color: #0a0a0a;
}

.error {
  color: #E70000;
  border-color: #E70000 !important;
  background: #FFB2B2;
}

label.error {
  width: fit-content;
  margin-bottom: 0;
  padding: 0 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  border-radius: 3px;
}

#phone1-error,
#phone2-error {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}
