.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: $main-color no-repeat url("../img/bcg/gradient-bcg.webp");

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
    background: $main-color 50% no-repeat url("../img/bcg/gradient-bcg-mob.webp");
  }
}

.page-footer__wrapper {
  display: flex;
  gap: 50px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 15px;
  }
}

.page-footer__polycy {
  color: $basic-white;
}
