.review {
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  color: $input-color;
  background: no-repeat $main-color  url("../img/bcg/gradient-bcg.webp");
}

.review__card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding: 15px;
  text-align: center;
  background: $basic-white;
  border: 1px solid $att-color;
  border-radius: 15px;

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.review__avatae-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.review__name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  cite {
    font-style: normal;
    font-weight: 700;
  }
}

.review__img {
  object-fit: cover;
  border-radius: 50%;
}

.review__blockquote {
  padding-top: 15px;
  border-top: 1px solid $main2-color;
}

.review__nik {
  font-weight: 400;
}
