/* Fonts */

// Proxima Nova

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Proxima Nova Regular"),
    url("../fonts/proxima_nova/proximanova_regular.woff2") format("woff2"),
    url("../fonts/proxima_nova/proximanova_regular.woff") format("woff"),
    url("../fonts/proxima_nova/proximanova_regular.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Proxima Nova Semibold"),
    url("../fonts/proxima_nova/proximanova_semibold.woff2") format("woff2"),
    url("../fonts/proxima_nova/proximanova_semibold.woff") format("woff"),
    url("../fonts/proxima_nova/proximanova_semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Proxima Nova Bold"),
    url("../fonts/proxima_nova/proximanova_bold.woff2") format("woff2"),
    url("../fonts/proxima_nova/proximanova_bold.woff") format("woff"),
    url("../fonts/proxima_nova/proximanova_bold.ttf") format("truetype");
}

// Raleway

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Raleway Semibold"),
    url("../fonts/raleway/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Raleway Bold"),
    url("../fonts/raleway/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/raleway/Raleway-Bold.woff") format("woff"),
    url("../fonts/raleway/Raleway-Bold.ttf") format("truetype");
}
